@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

@keyframes transition1 {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes transition2 {
  from {
    opacity: 0;
    transform: translateX(-400px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
html{
    width:100vw;
}
body {
  overflow-x: hidden;
  font-family: 'Montserrat';
  background-color: #003566;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  width:100vw;
}
.img-logo {
  height: 45%;
  transition: transform 0.3s ease-out;
}
.title{
  color: #fff;
  font-size: xxx-large;
  text-align: center;
  margin-top: 3em;
  animation-name: transition1;
  animation-duration: 1s;
}

.logo-info {
  width: 100vw;
  background-color: #003466;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 60px 0;
  justify-content: space-around;
  animation-name: transition1;
  animation-duration: 1s;
}

.logo-info img {
  height: 50%;
}
.mapa {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Adicionei essa linha para garantir que o mapa e o título estejam alinhados verticalmente */
}
.mapa iframe {
  max-width: 100%; /* Alterei width para max-width para garantir que o mapa não exceda a largura do contêiner */
  height: 300px; /* Permitir que o mapa mantenha a proporção correta */
  border-radius: 20px;

}
.bgesc{
  background-color: #003566;
  width: 100vw;
  padding-bottom: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.carde {
  width: 500px;
  box-shadow: #0000003d 0px 3px 8px;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  border-radius: 20px;
  margin: 15px; /* Ajustei a margem para criar espaço entre os cartões */
  
  background-color: #fff;
  cursor: pointer;
  height: 80px;
  transition: .4s;
}
.carde img {
  width: 70px;
}

.cards {
  margin: 15vh auto 5vh;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-name: transition2;
  animation-duration: 1.3s;
  flex-wrap: wrap; /* Adicionei flex-wrap: wrap para permitir que os cartões quebrem para uma nova linha em telas menores */

}
.subtitle {
  font-size: large;
  text-align: justify;
  width: 80%;
  margin: 10px auto 0px;
}

.cards2 {
  margin: 5vh auto 5vh;
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation-name: transition2;
  animation-duration: 1.3s;
}

#evt {
  width: 100%;
  margin: 0px auto;
  border-radius: 10px;
}

.card2 {
  width: 500px;
  height: 600px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 0 15px;
  text-align: center;
  transition: .3s;
  text-decoration: none;
  color: #000;
  background-color: #fff;
}

#textdel {
  text-decoration: none;
  color: #000;
}

.card2 button {
  background-color: #003466;
  font-size: larger;
  width: 80%;
  color: #c2e2ff;
  padding: 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin: 30px auto;
  transition: .2s;
}

.card2:hover {
  transform: scale(1.01);
}
.main-services {
  margin: 5vh auto;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  flex-wrap: wrap;
  animation-name: transition2;
  animation-duration: 1s;
  width:95vw;
}

.service-card {
  width: 450px;
  height: 650px; /* Adicione uma altura fixa aos cards */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centraliza o conteúdo verticalmente */
  padding: 20px;
  border-radius: 20px;
  margin: 15px;
  background-color: #fff;
  transition: .4s;
  text-align: center;
}

.service-card img {
  width: 350px;
  margin-bottom: 15px;
  border: 5px solid #004C94;
  border-radius: 10px;
  height: 70%;
}

.service-title {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 10px;
}

.service-description {
  text-align: center;
}

.card2 button:hover {
  transform: scale(1.03);
}

.card2 img {
  margin: 30px auto;
  height: 50%;
}

.title-card2 {
  font-size: x-large;
  margin: 50px auto 0px;
}

.cards{
  transition: .5s;
}
.carde:hover {
  transform: scale(1.03);
}

.title-card {
  font-size: larger;
  text-decoration: none;
  color: #000;
}

.cards a {
  text-decoration: none;
}

.slider {
  width: 100vw;
  height: 550px;
  position: relative;
  background: #242424;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-loc {
  color: #fff;
  font-size: xx-large;
  text-align: center;
  margin: .5em;
}

.img-log {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.redes {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.redes img {
  width: 50px;
  height: 50px;
  margin: 0 10px;
  cursor: pointer;
  transition: .3s;
}

.redes img:hover {
  transform: scale(1.1);
}

@media (max-width: 1400px) {
  .cards {
    margin: 10vh auto 5vh;
    width: 100vw;
  }
}

@media (max-width: 1200px) {
  .logo-info {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: 0 auto;
    align-self: center;
    width: 100%;
    justify-content: center;
  }
  #logo{
    width: 70vw;
  }
  .logo-info iframe{
    width: 70vw;
    height: 40vh;
  }
}

@media (max-width: 1100px) {
  .cards {
    flex-direction: column;
    margin: 4vh auto 1vh;
    align-items: center;
    align-content: center;
  }
  .carde {
    margin: 1.5vh auto;
    width: 50vw;
  }
}
/* ... (previous CSS rules) ... */
/* ... (previous CSS rules) ... */
@media(max-width:1000px){
  .cards2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4vh auto 2vh;
    width: 75vw;
  }
  .card2 {
    margin: 2vh auto;
    width: 100%;
  }
  .card2 button{
    padding: 10px;
  }
  .cards {
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: 4vh auto 2vh;
    width: 75vw;
  }
  .carde {
    margin: 4vh auto 2vh;
    width: 75vw;
  }

}
@media (max-width: 800px) {
  .cards {
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: 2vh auto 1vh;
    width: 90%;
  }
  .carde {
    margin: 4vh auto 2vh;
    width: 75vw;
  }
  /* Alinhar itens no mapa ao centro */
  .mapa {
    text-align: center;
  }
  /* Centralizar a logo e iframe no centro */
  .img-log {
    align-items: center;
    justify-content: center;
  }
  .fade-border {
    position: relative;
    padding: 40px;
    width: 150vw; /* Ajuste conforme necessário */
  }
  
  .fade-border::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(to bottom, #003566, #004C94); /* Ajuste as cores conforme necessário */
    border-radius: 40px; /* Ajuste conforme necessário e deve ser igual ao valor do padding */
  }
  #logo {
    width: 90vw;
  }
  .logo-info iframe {
    width: 70vw;
    height: 40vh;
  }
  .title{
    color: #fff;
    font-size: xx-large;
    margin-top: 2.5em;
  }
}

@media (max-width: 500px) {
  .cards {
    margin: 4vh auto 2vh;
    width: 90%;
  }
  .carde {
    margin: 4vh auto 2vh;
    width: 80vw;
  }
  .card2 button{
    width: 90%;
  }
  .cards2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4vh auto 2vh;
    width: 90%;
  }
  .card2 {
    margin: 2vh auto;
    width: 100%;
  }
}
.btn-agendar button{
  width:70vw;
  padding: 20px;
  background-color:#004382;
  border-radius: 10px;
  color: #fff;
  transition: .3s;
  border: #003466 4px solid;
}
.btn-agendar{
  text-align: center;
  margin-bottom: 40px;
  font-size: x-large;
}
.btn-agendar button:hover{
  transform: scale(1.03);
}